
.actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
}

.custom-button {
    position: relative;
    
    display: flex;
    align-items: center;
    gap: .75rem;

    padding: .25rem 1.25rem;

    border-radius: .5rem;

    width: 11.2rem;
    height: 3rem;

    background-color: var(--color-brand-dark);

    button {
        position: absolute;

        inset: 0;
        opacity: 0;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }
    span {
        font: var(--font-body-sb);
        color: var(--color-text-heading);
    }

    &:hover,
    &:focus {
        cursor: pointer;

        background-color: var(--color-brand-mid);
    }
}
