input,
textarea {
    appearance: none;

    height: 3rem;
    width: 100%;
    padding-inline: 1rem;

    /* border: 1px solid var(--color-input-stroke); */
    border: 2px solid transparent;
    outline: 1px solid var(--color-input-stroke);
    border-radius: 0.5rem;

    font: var(--font-body);
    color: var(--color-input-placeholder);

    background-color: var(--color-input-base);
}

textarea {
    height: 8.5rem;
    padding: 1rem;
}

input:focus,
textarea:focus,
input[type="datetime-local"]:focus-within {

    /* border: 1px solid transparent; */
    outline: 1px solid var(--color-brand-light);
    /* border-color: var(--color-brand-light); */
    font: var(--color-text-heading);

    /* outline-offset: .1px; */
}


/* =========================================== */

input[type="datetime-local"] {

    width: 17rem;
    height: 3rem;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

/* =========================================== */

.error {
    svg path {
        fill: transparent;
    }

    span {
        display: none;
    }
}

.input-wrapper:has(input:required:invalid) {
    .error {
        display: flex;
        align-items: center;
        gap: .25rem;

        svg path {
            fill: var(--color-danger);
        }

        span {
            display: inline;

            font: var(--text-sm--font-body-xs);
            color: var(--color-danger);
        }
    }
}
