* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-brand-light: #59B2FF;
    --color-brand-mid: #3487CF;
    --color-brand-dark: #1D6FB6;

    --color-purple: #B259FF;
    --color-fuschia: #FF59F9;
    --color-pink: #FF598B;
    --color-orange: #FF8B59;
    --color-yellow: #FFCD59;
    --color-lime: #E1FF59;
    --color-green: #59FF91;
    --color-cyan: #59FFF9;
    --color-navy: #6A59FF;

    --color-danger: #FF5959;

    --color-input-base: #1C1F21;
    --color-input-stroke: #363B40;
    --color-input-placeholder: #869198;

    --color-shape-background: #131516;
    --color-shape-body: #212427;
    --color-shape-button: #2D3136;
    --color-shape-hover: #383D42;

    --color-text-body: #C8CDD0;
    --color-text-heading: #F9F9F9;


    --font-family-leckerli: "Leckerli One", cursive;
    --font-family-baloo: "Baloo 2", sans-serif;
    --font-family-opensans: "Open Sans", sans-serif;

    /* logo */
    --font-leckerli-lg: 400 2.5rem var(--font-family-leckerli);
    
    /* heading */
    --font-heading-md: 700 1.75rem var(--font-family-baloo);
    --font-heading-sm: 700 1.125rem var(--font-family-baloo);

    /* body */
    --font-body-lt: 300 1rem var(--font-family-opensans);
    --font-body: 400 1rem var(--font-family-opensans);
    --font-body-sb: 600 1rem var(--font-family-opensans);
    --font-body-sm: 400 0.875rem var(--font-family-opensans);
    --font-body-sm-sb: 600 0.875rem var(--font-family-opensans);
    --font-body-xs: 400 0.75rem var(--font-family-opensans);
    --font-body-xs-sb: 600 0.75rem var(--font-family-opensans);

}

body {
    overflow: hidden;

    font: var(--font-body-sm);
    color: var(--color-text-body);
}

.flex {
    display: flex;
    gap: 1rem;
}

.flex-1 {
    flex: 1;
}

.input-wrapper,
.textarea-wrapper {
    display: grid;
    gap: .75rem;
}